<div class="guidance">
<h2 class="heading-large">Admin interfaces</h2>

<p class="text">Here's the header for the 'Renew your car tax' service</p>

</div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="{{ homepage_url|default('https://www.gov.uk') }}" title="{{ logo_link_title|default('Go to the GOV.UK homepage') }}" id="logo" class="content">
              <img src="{{ asset_path }}images/gov.uk_logotype_crown_invert_trans.png?0.17.3" width="35" height="31" alt=""> {{ global_header_text|default('GOV.UK') }}
            </a>
          </div>
        </div>
        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/" id="proposition-name">Renew your car tax</a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div id="global-header-bar"></div>

<div class="guidance">

<p class="text">Here's the header for the admin interface for the service:</p>

</div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="{{ homepage_url|default('https://www.gov.uk') }}" title="{{ logo_link_title|default('Go to the GOV.UK homepage') }}" id="logo" class="content">
              <img src="{{ asset_path }}images/gov.uk_logotype_crown_invert_trans.png?0.17.3" width="35" height="31" alt=""> {{ global_header_text|default('GOV.UK') }}
            </a>
          </div>
        </div>
        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/" id="proposition-name">Renew your car tax <span class="admin">Administrator view</span></a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div id="global-header-bar"></div>

<div class="guidance">

<p class="text">Or perhaps it should be this...</p>

</div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <div class="org-logo">
              <h2 id="cabinet-office" class="cabinet-office-brand-colour">
                <a class="organisation-logo organisation-logo-single-identity organisation-logo-single-identity-medium" href="/government/organisations/cabinet-office">
                  <span>DVLA</span>
                </a>  
              </h2>
            </div>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/" id="proposition-name" class="departmental">Renew your car tax</a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div id="global-header-bar"></div>