    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <div class="org-logo">
              <h2 id="cabinet-office" class="cabinet-office-brand-colour">
                <a class="organisation-logo organisation-logo-single-identity organisation-logo-single-identity-medium" href="/government/organisations/cabinet-office">
                  <span>Cabinet Office</span>
                </a>  
              </h2>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="global-header-bar"></div>

<br>
    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <div class="org-logo">
              <h2 id="cabinet-office" class="cabinet-office-brand-colour">
                <a class="organisation-logo organisation-logo-single-identity organisation-logo-single-identity-medium" href="/government/organisations/cabinet-office">
                  <span>Department for Education</span>
                </a>  
              </h2>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="global-header-bar"></div>


    <br>
    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global" style="width: 50%">
          <div class="header-logo">
            <div class="org-logo">
              <h2 id="cabinet-office" class="cabinet-office-brand-colour">
                <a class="organisation-logo organisation-logo-single-identity organisation-logo-single-identity-medium" href="/government/organisations/cabinet-office">
                  <span>Department for Work & Pensions</span>
                </a>  
              </h2>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="global-header-bar"></div>

        <br>
    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global" style="width: 66%">
          <div class="header-logo">
            <div class="org-logo">
              <h2 id="cabinet-office" class="cabinet-office-brand-colour">
                <a class="organisation-logo organisation-logo-single-identity organisation-logo-single-identity-medium" href="/government/organisations/cabinet-office">
                  <span>Department for Business, Energy, Industry & Science</span>
                </a>  
              </h2>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="global-header-bar"></div>

<div class="guidance">
  <p>Use the departmental acronym if you need to fit in more content:</p>
</div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <div class="org-logo">
              <h2 id="cabinet-office" class="cabinet-office-brand-colour">
                <a class="organisation-logo organisation-logo-single-identity organisation-logo-single-identity-medium" href="/government/organisations/cabinet-office">
                  <span>BEIS</span>
                </a>  
              </h2>
            </div>
          </div>
        </div>
        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/" id="proposition-name" class="helvetica">{% if serviceName %} {{ serviceName }} {% endif %}</a>
              <ul id="proposition-links">
                <li><a href="url-to-page-1" class="active">Page 1</a></li>
                <li><a href="url-to-page-2">Page 2</a></li>
                <li><a href="url-to-page-3">Page 3</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div id="global-header-bar"></div>